 /*.form-control:invalid {
       border: 1px solid #cc0000;
}*/


   .navbar {
       margin: 0;
}

.navbar .glyphicon {
       color: yellow;
}

body { padding-top: 70px; }

.navbar-header img{
	width: 80%;
	height: 80%;
}

@media (min-width: 940px){
	.navbar-header img{
	width: 100%;
	height: 100%;
	}
}
